body{
    background-image: url('../images/avatar/fondo_2.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.mapa img{
    width: 1100px;
}

.inspiradoresIsla img{
    position: absolute;
    z-index: 1;
    width: 330px;
    bottom: 0px;
    left:380px;
}

.sentidosIsla img{
    position: absolute;
    z-index: 1;
    width: 280px;
    bottom: 15px;
    left:820px;
}

.recorridosIsla img{
    position: absolute;
    z-index: 1;
    width: 160px;
    bottom: 215px;
    left:45px;
    display: none;
}

.recorridosBase{
    position: absolute;
    z-index: 1;
    width: 1100px;
}

.mapa a>img{
    transition: transform 0.2s;
}

.mapa a>img:hover{
    transform: scale(1.03,1.03);
}

@media only screen and (max-width: 960px) {
    .mapa img{
        margin-left:0%;
        width: 620px;
    }

    .inspiradoresIsla img{
        width: 185px;
        bottom: 0px;
        left:210px;
    }
    
    .sentidosIsla img{
        width: 155px;
        bottom: 10px;
        left:470px;
    }
    
    .recorridosIsla img{
        width: 85px;
        top: 148px;
        left:33px;
    }
}

@media only screen and (max-width: 400px) {
    body{
        background-image: url('../images/avatar/fondo_2.png');
        background-size: cover;
        background-repeat:no-repeat;
        background-size: 100% 100vh;
    }
    .mapa img{
        width: 300px;
    }

    .inspiradoresIsla img{
        width: 85px;
        bottom: 0px;
        left:110px;
    }
    
    .sentidosIsla img{
        width: 75px;
        bottom: 5px;
        left:235px;
    }
    
    .recorridosIsla img{
        width: 40px;
        top: 73px;
        left:25px;
    }
}

.footer img{
    position: relative;
    width: 220px;
}

