body{
    background-image: url('../images/fondo/Fondo2-sentidos.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% 100vh;
}

@media only screen and (max-width: 800px) {
    body {
        background-size: 100% 150%;
    }
}

.option img{
    margin-top: 10px;
    width: 100%;
    transition: transform 0.3s;
}

.option img:hover{
   transform: scale(1.03, 1.03); 
}

.olfatoContent p{
    font-family: 'Bungee', cursive;
    font-size:25px;
    color: #ffffff;
}